In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cardata.csv')
df

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [3]:
# Rename column names
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']
df.columns = col_names
col_names

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

In [4]:
X=df[['buying', 'maint', 'doors', 'persons', 'lug_boot','safety']]
X

     buying  maint  doors persons lug_boot safety
0     vhigh  vhigh      2       2    small    med
1     vhigh  vhigh      2       2    small   high
2     vhigh  vhigh      2       2      med    low
3     vhigh  vhigh      2       2      med    med
4     vhigh  vhigh      2       2      med   high
...     ...    ...    ...     ...      ...    ...
1722    low    low  5more    more      med    med
1723    low    low  5more    more      med   high
1724    low    low  5more    more      big    low
1725    low    low  5more    more      big    med
1726    low    low  5more    more      big   high

[1727 rows x 6 columns]

In [5]:
import category_encoders as ce
encoder = ce.OrdinalEncoder(cols=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])
XX= encoder.fit_transform(X)
XX

      buying  maint  doors  persons  lug_boot  safety
0          1      1      1        1         1       1
1          1      1      1        1         1       2
2          1      1      1        1         2       3
3          1      1      1        1         2       1
4          1      1      1        1         2       2
...      ...    ...    ...      ...       ...     ...
1722       4      4      4        3         2       1
1723       4      4      4        3         2       2
1724       4      4      4        3         3       3
1725       4      4      4        3         3       1
1726       4      4      4        3         3       2

[1727 rows x 6 columns]

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df["class"]=le.fit_transform(df['class']) 
yy=df['class']
yy

0       2
1       2
2       2
3       2
4       2
       ..
1722    1
1723    3
1724    2
1725    1
1726    3
Name: class, Length: 1727, dtype: int32

In [7]:
from sklearn.model_selection import train_test_split
XX_train, XX_test, yy_train, yy_test = train_test_split(XX, yy, test_size = 0.33, random_state = 1)

XX_train.shape
XX_train

XX_test.shape
XX_test                                                        

yy_train.shape
yy_train                                                       

yy_test.shape
yy_test

1424    2
592     0
625     2
927     2
730     2
       ..
1109    2
1142    2
860     2
359     2
693     2
Name: class, Length: 570, dtype: int32

In [8]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\sonaw\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\sonaw\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: setuptools in c:\users\sonaw\anaconda3\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\sonaw\anaconda3\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\sonaw\anaconda3\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\sonaw\anaconda3\lib\site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\sonaw\anaconda3\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\sonaw\anaconda3\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sonaw\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sonaw\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\sonaw\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\sonaw\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sonaw\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: six in c:\users\sonaw\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\sonaw\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sonaw\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.2.0)

In [9]:
!pip3 install xgboost

Requirement already satisfied: xgboost in c:\users\sonaw\anaconda3\lib\site-packages (1.6.1)
Requirement already satisfied: scipy in c:\users\sonaw\anaconda3\lib\site-packages (from xgboost) (1.7.1)
Requirement already satisfied: numpy in c:\users\sonaw\anaconda3\lib\site-packages (from xgboost) (1.20.3)

In [10]:
from mlxtend.classifier import StackingClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

In [11]:
m1=RandomForestClassifier(random_state=1)
m1.fit(XX_train, yy_train)
y_preict1=m1.predict(XX_test)
print(accuracy_score(yy_test,y_preict1))

0.9578947368421052

In [12]:
m2=AdaBoostClassifier()
m2.fit(XX_train, yy_train)
y_preict2=m2.predict(XX_test)
print(accuracy_score(yy_test,y_preict2))

0.8578947368421053

In [13]:
m3=GradientBoostingClassifier()
m3.fit(XX_train, yy_train)
y_preict3=m3.predict(XX_test)
print(accuracy_score(yy_test,y_preict3))

0.9614035087719298

In [14]:
m4=XGBClassifier()
m4.fit(XX_train, yy_train)
y_preict4=m3.predict(XX_test)
print(accuracy_score(yy_test,y_preict4))

0.9614035087719298

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [16]:
from sklearn import svm
c1=svm.SVC(kernel='rbf',C=20)
c1.fit(XX_train,yy_train)
y_predict_cl=c1.predict(XX_test)

In [17]:
print(accuracy_score(yy_test,y_predict_cl))

0.980701754385965

In [18]:
c2=LogisticRegression()
c2.fit(XX_train,yy_train)
y_predict_c2=c2.predict(XX_test)

C:\Users\sonaw\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [19]:
print(accuracy_score(yy_test,y_predict_c2))

0.743859649122807

In [20]:
c3=KNeighborsClassifier()
c3.fit(XX_train,yy_train)
y_predict_c3=c3.predict(XX_test)

In [21]:
print(accuracy_score(yy_test,y_predict_c3))

0.9192982456140351

In [22]:
from sklearn import model_selection
import numpy as np
import warnings
warnings.simplefilter('ignore')
m1=RandomForestClassifier(random_state=1)
m2=AdaBoostClassifier()
m3=GradientBoostingClassifier()
lr = LogisticRegression()
sclf = StackingClassifier(classifiers=[m1, m2, m3], 
 meta_classifier=lr)
print('3-fold cross validation:\n')
for clf, label in zip([m1, m2, m3,m4, sclf], 
 [ 
 'Random Forest', 
'AdaBoost',
'GradientBoosting',
'XGB']):
 scores = model_selection.cross_val_score(clf,XX, yy,
 cv=4, scoring='accuracy')
 print("Accuracy: %0.2f [%s]"
 % (scores.mean(), label))

3-fold cross validation:

Accuracy: 0.83 [Random Forest]
Accuracy: 0.81 [AdaBoost]
Accuracy: 0.82 [GradientBoosting]
Accuracy: 0.84 [XGB]